* {
  box-sizing: border-box;
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

body {

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: gray;
  color: #212121;
  line-height: 1.5;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
     margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

#search-box {
  font: inherit;
  padding: 8px;
  max-width: 320px;
  margin-bottom: 16px;
}

.county-list__item{
  display: flex;
  align-items: center;
}  

.county-list__item:not(:last-child){
margin-bottom: 15px;
}

.country-list__icon{
  margin-right: 10px;
}

.country-info__box{
  display: flex;
  align-items: center;
  font-size: 20px;
  margin-bottom: 15px;
}

.info-list__item:not(:last-child){
  margin-bottom: 20px;
}

.info-list__accent{
  font-weight: bold;
}